<%= form_for(@atividade) do |f| %>
  <% if @atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% @atividade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begins %><br />
    <%= f.date_select :begins %>
  </div>
  <div class="field">
    <%= f.label :ends %><br />
    <%= f.date_select :ends %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
