<h1>Listing project_taks</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_taks.each do |project_tak| %>
  <tr>
    <td><%= project_tak.project_id %></td>
    <td><%= project_tak.task_id %></td>
    <td><%= link_to 'Show', project_tak %></td>
    <td><%= link_to 'Edit', edit_project_tak_path(project_tak) %></td>
    <td><%= link_to 'Destroy', project_tak, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project tak', new_project_tak_path %>
